RewriteEngine on
RewriteRule ^profile/?$ profile.php [L]
RewriteRule ^free-gems/?$ free-gems.php [L]
RewriteRule ^register/?$ register.php [L]
RewriteRule ^login/?$ login.php [L]
RewriteRule ^reset-password/?$ forgotpass.php [L]
RewriteRule ^topup-card/?$ topup-card.php [L]
RewriteRule ^topup-bank/?$ topup-bank.php [L]
RewriteRule ^download/?$ minecraft-download.php [L]
RewriteRule ^terms/?$ terms.php [L]
RewriteRule ^privacy/?$ privacy.php [L]
