RewriteRule ^download$ public/client/download.php [L]
RewriteRule ^terms$ public/client/terms.php [L]
RewriteRule ^membership$ public/client/membership.php [L]
RewriteRule ^privacy$ public/client/privacy.php [L]
RewriteRule ^login$ public/client/login.php [L]
RewriteRule ^register$ public/client/register.php [L]
RewriteRule ^forgotpass$ public/client/forgotpass.php [L]
RewriteRule ^napgame$ public/client/napgame.php [L]